@use './abstracts' as a;
@use './components' as c;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: a.$font-stack;
    color: a.$light;
    background-color: a.$darkest;
}