@use "./abstracts" as a;
@use "./components" as c;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: a.$font-stack;
  color: a.$light;
  background-color: a.$darkest;
  display: grid;
  grid-template-columns: 1fr;
}

header {
  background: linear-gradient(
    180deg,
    #000000 0%,
    #04001c 35.42%,
    #020a27 76.04%,
    #041117 100%
  );
  display: grid;
  overflow: hidden;
  grid-row: 1;
  grid-column: 1/-1;

  #gradient_container {
    margin-top: 45vh;
    background: linear-gradient(
      180deg,
      rgba(29, 40, 46, 0) 54.68%,
      rgba(255, 105, 180, 0.12) 83.09%,
      rgba(255, 71, 137, 0.27) 100%
    );
    height: 55vh;
    grid-row: 1;
    grid-column: 1/-1;
  }
  #starry_night {
    background-image: url(../assets/starry_sky.svg);
    background-repeat: no-repeat, repeat;
    background-size: contain;

    grid-row: 1;
    grid-column: 1/-1;
  }
}
#introduction_content {
  grid-row: 1;
  grid-column: 1/-1;
  padding: 0 48px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text,
#form {
  max-width: 40rem;
}

#text h1 {
  padding-bottom: 1rem;
}

#text p {
  font-weight: 100;
  width: 50ch;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
#url,
#industry {
  background-color: #0a1f3b;
  border: none;
  color: a.$light;
  padding-left: 0.8rem;
}
#url {
  max-width: 21rem;
  height: 2.2rem;

  margin-bottom: 1.5rem;
}

#industry {
  max-width: 15rem;
  height: 2.2rem;
  appearance: none;
  background-image: url(../assets/arrow_down.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 1.3em auto, 100%;
  cursor: pointer;
}

form > button {
  max-width: 13rem;
  height: 2.2rem;
  margin-top: 3.5rem;
  background-color: a.$accent;
  border: none;
  border-radius: 3px;
  color: a.$darkest;
  font-weight: 400;
  cursor: pointer;
}
