* {
  margin: 0px;
  padding: 0px;
}

:root {
  --color-primary1: rgb(226, 233, 216);
  --color-primary2: #f5f5f5;
  --color-secondary1: rgb(14, 16, 61);
  --color-secondary2: #7486aa;
  --color-accent1: #c44f67;
  --color-accent2: rgb(241, 143, 1);
  --displayFont: "EB Garamond", sans-serif;
  --bodyFont: "Lato", sans-serif;
}

body {
  background-color: #888;
  color: #fff;
  font-family: sans-serif;
}

.color1 {
  background-color: var(--color-primary1);
}
.color2 {
  background-color: var(--color-primary2);
}
.color3 {
  background-color: var(--color-secondary1);
}
.color4 {
  background-color: var(--color-secondary2);
}
.color5 {
  background-color: var(--color-accent1);
}
.color6 {
  background-color: var(--color-accent2);
}

.colorbox {
  min-width: 2rem;
  min-height: 2rem;
  width: 10vh;
  height: 10vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ;
}
h2 {
  font-size: 1.563rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

p.small {
  font-size: 0.8rem;
}

p.bold {
  font-weight: bold;
}

header {
  padding: 2rem;
}

section {
  padding: 0px 2rem;
}

#colors {
  display: grid;
  align-items: top;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
}

#colors article {
  margin-bottom: 2rem;
}

#samples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.percent100 {
  width: 100%;
  height: 20vh;
  min-height: 4rem;
}

.percent100 div {
  float: left;
}

.percent30 {
  width: 30%;
  height: 100%;
}
.percent15 {
  width: 15%;
  height: 100%;
}
.percent5 {
  width: 5%;
  height: 100%;
}

#tests {
  display: grid;
  align-items: top;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
}

.test {
  display: flex;
  min-width: 300px;
  min-height: 300px;
  padding: 2rem;
  flex-direction: column;
  justify-content: flex-end;
}

.circle1 {
  position: relative;
  z-index: 1000;
  top: 1rem;
  left: 10rem;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}

.circle2 {
  position: relative;
  top: -1rem;
  left: 11rem;
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
}

.box {
  width: 6rem;
  height: 2rem;
  margin: 0px auto;
}

#test1 {
  background-color: var(--color-primary1);
  color: var(--color-secondary1);
}

#test1 .circle1 {
  background-color: var(--color-secondary1);
}

#test1 .circle2 {
  background-color: var(--color-accent1);
}

#test1 .box {
  background-color: var(--color-secondary2);
}

#test1 p {
  color: var(--color-secondary1);
}

#test2 {
  background-color: var(--color-primary2);
  color: var(--color-secondary1);
}

#test2 .circle1 {
  background-color: var(--color-accent2);
}

#test2 .circle2 {
  background-color: var(--color-secondary2);
}

#test2 .box {
  background-color: var(--color-accent1);
}

#test1 p {
  color: var(--color-secondary1);
}

#test3 {
  background-color: var(--color-secondary1);
}

#test3 .circle1 {
  background-color: var(--color-primary2);
}

#test3 .circle2 {
  background-color: var(--color-secondary2);
}

#test3 .box {
  background-color: var(--color-accent2);
}

#test3 p {
  color: var(--color-primary2);
}

#test4 {
  background-color: var(--color-secondary2);
}

#test4 .circle1 {
  background-color: var(--color-primary2);
}

#test4 .circle2 {
  background-color: var(--color-secondary1);
}

#test4 .box {
  background-color: var(--color-accent1);
}

#test4 p {
  color: var(--color-primary2);
}

@media screen and (max-width: 541px) {
  nav > div {
    display: none;
  }
}
